.container{
    position:center;
    text-align: center;
    margin: 0 auto;
    width:600px;
}
.title {
    color: rgb(41, 43, 50);
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: -0.15px;
    text-align: center;
    vertical-align: initial;
    font-style: initial;
    white-space: initial;
    text-decoration: initial;
    margin: 0px 0px 8px;
    padding-top: 100px;
  }
  
  .content {
    width: 100%;
    color: rgb(84, 90, 119);
    font-size: 1.4em;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: center;
    vertical-align: initial;
    font-style: initial;
    white-space: initial;
    text-decoration: initial;
    margin: 0 20px;
    padding-bottom: 20px;
  }
  