.browse_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 57px;
  margin: 0;
  text-align: center;
  font-family: museo_sans,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #545A7B;

  .browse{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex: 1 1;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    height: calc(100vh - 110px);
    display: flex;
    word-wrap: break-word;

    .task_detail_wrapper{
      flex: 1 1;
    }
  }
}