.radio {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.radio_title {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  margin-left: 0.2em;
  flex-grow: 1;
}

.task_radio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}