.title {
  color: rgb(41, 43, 50);
  font-family: "Baloo Tamma 2", cursive;
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -0.15px;
  text-align: center;
  vertical-align: initial;
  font-style: initial;
  white-space: initial;
  text-decoration: initial;
  margin: 0px 0px 8px;
  padding-top: 100px;
}

.content {
  width: 100%;
  color: rgb(84, 90, 119);
  font-family: "Baloo Tamma 2", cursive;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-align: center;
  vertical-align: initial;
  font-style: initial;
  white-space: initial;
  text-decoration: initial;
  margin: 0 20px;
  padding-bottom: 20px;
}

.tasker {
  text-align: center;
  position: relative;
  display: block;
  justify-content: center;
  background-color: #f6f8fd;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 14px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}

.taskerButton {
  display: inline-block;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  background-color: rgb(125, 179, 67);
  border-radius: 160px;
  margin-bottom: 80px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 2px;
  border-style: solid;
  padding: 16px 24px;
}
