.otherJobs__container {
  height: 100vh;
  
  .bg__wrapper {
    position: relative;

    background: url("../../../assets/tasker-bg.svg") no-repeat;
  background-position: right center;
  background-size: 1028px 860px;
  height: auto;

    .content__wrapper {
      height: 100%;
      padding: 0 10%;
      display: flex;
      justify-content: flex-start;
    }}}

.tasker__container{
  border-radius: 8px;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.taskerButton {
  width: 200px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  background-color: rgb(125, 179, 67);
  border-radius: 160px;
  margin-bottom: 80px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 2px;
  border-style: solid;
  padding: 16px 24px;
}

@media screen and (max-width: 767px)
{
  .bg__wrapper {
    position: relative;

    background: none;
}

  .tasker__container{
    border-radius: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  
  }
}