.tasker {
  margin: 0;
  padding: 0;
  background: url("../../../assets/tasker-bg.svg") no-repeat;
  background-position: right center;
  background-size: 1028px 860px;
  width: 100vw;
  height: auto;
  text-align: center;
  position: relative;
  display: block;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 14px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}
.wrapper{
  width:900px;
  position: relative;;
  top:0px;
  left:0px;
}

.taskerButton {
  display: inline-block;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  background-color: rgb(125, 179, 67);
  border-radius: 160px;
  margin-bottom: 80px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 2px;
  border-style: solid;
  padding: 16px 24px;
}
