.tasker_card {
  position: relative;
  display: block;
  width: 800px;
  height: 460px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-bottom: 16px;
  overflow: hidden;
  margin: 30px -80px;
}

.container {
  flex-direction: column;
  flex-wrap: wrap;
  .top {
    display: block;
    .description {
      display: block;
      height: 100%;
      text-align: left;
      padding: 20px 50px;
      .name {
        font-weight: 700;
        font-size: 21px;
        color: #292b32;
        letter-spacing: 0.02px;
        line-height: 29px;
      }
      .specialities {
        color: #545a77;
        font-weight: 500;
        font-style: italic;
        font-size: 14px;
        letter-spacing: 0.01px;
        line-height: 29px;
        margin: 0;
      }
      .content {
        font-weight: 300;
        color: #545a77;
        font-size: 14px;
        line-height: 1.4;
        padding: 0;
        margin: 0;
      }
    }
  }
  .bottom {
    display: flex;

    .left {
      text-align: left;
      width: calc(50% - 10px);

      .trust {
        width: 200px;
        .title {
          font-size: 15px;
          letter-spacing: 0.8px;
          color: #292b32;
          font-weight: 700;
          text-transform: uppercase;
          padding: 0;
          margin: 0 0 12px;
          position: relative;
          z-index: 2;
        }
        .reviews_star {
          font-size: 15px;
          color: #545a77;
          line-height: 22px;
          font-weight: 300;
          margin: 0;
          padding: 0;
        }
      }

      .review {
        height: 150px;
        padding-top: 30px;

        .title {
          font-size: 15px;
          letter-spacing: 0.8px;
          color: #292b32;
          font-weight: 700;
          text-transform: uppercase;
          padding: 0;
          margin: 0 0 12px;
          position: relative;
          z-index: 2;
        }
        .content {
          font-size: 15px;
          color: #545a77;
          line-height: 22px;
          font-weight: 300;
          margin: 0;
          padding: 0;
        }
        .reviewer {
          display: inline-block;
          vertical-align: middle;
          margin-top: 12px;
          font-size: 15px;
          color: #008fb4;
          line-height: 1;
        }
      }
    }
    .right {
      text-align: left;
      
      .badges {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 300px;
        padding-left: 70px;
        padding-top: 50px;

        .title {
            font-size: 15px;
            letter-spacing: 0.8px;
            color: #292b32;
            font-weight: 700;
            text-transform: uppercase;
            padding: 0;
            margin: 0 0 12px;
            position: relative;
            z-index: 2;
        }
        .badge_block {
          display: flex;
          flex-direction: row;
          font-size: 15px;
          color: #545a77;
          line-height: 22px;
          font-weight: 300;
          margin: 0;
          padding: 0;
          align-items: center;
          line-height: 1.4;
        }
      }
      ::after {
        content: "";
        display: block;
        height: 300px;
        width: 2px;
        background-color: #f6f8fd;
        position: absolute;
        left: -30px;
        top: -50px;
        
      }
      
    }
    
  }
}
.tasker_photo {
  float: left;
  width: 300px;
  height: 100%;
  border-radius: 8px 0 0 8px;
  overflow: hidden;
}  

@media screen and (max-width: 767px)
{
  .tasker_card {
    position: relative;
    display: block;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: #fff;
    margin-bottom: 16px;
    overflow: hidden;
    margin: 30px auto;
  }

  .tasker_photo {
    float: left;
    width: 100%;
    height: auto;
    border-radius: 8px 0 0 8px;
    overflow: hidden;
    border: solid 1px black;
  }  
}
