.button {
  display: inline-flex;
  border: none;
  outline: none;
  margin: 0;
  text-decoration: none;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  color: rgb(84, 90, 119);

  i {
    size: 24px;
  }
}
