.task_list{
  background-color: white;
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  width: 300px;
  max-height: 100%;
}

@media screen and (max-width: 700px) {
  .task_list{
    width: 100%;
    display: flex;
    align-items: center;
  }
}