@import '../scss-partial/status-color-code';

.button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-family: museo-bold, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 24px;
  letter-spacing: 0.15px;
  width: 100%;
  border-radius: 160px;
  border-color: rgba(0, 0, 0, 0);
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
  padding: 8px 16px;
  outline: none;

  &:disabled{
    background-color: lighten($expired-color, 25%);
    color: darken($expired-color, 10%);
    cursor: auto;
    pointer-events: none;
  }

  a{
    text-decoration: none;
    color: white;
  }
}

.green {
  background-color: rgb(125, 179, 67);
}
.blue {
  background-color: #4c8bf5;
}
.light-blue {
  color: rgb(0, 143, 180);
  border-color: rgb(231, 235, 251);
  background-color: rgb(246, 248, 253);
}
.pink {
  background-color: #e0446d;
}
.red{
  background-color: rgb(231, 82, 69);
}

.icon_button{
  display: inline-flex;
  border: none;
  outline: none;
  margin: 0;
  text-decoration: none;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  color: rgb(84, 90, 119);
}
