.container{
  position: relative;

  .dropdown{
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    background: #fff;
    width: auto;
    padding: 16px;
    box-shadow: 0 5px 6px rgba(42,44,45,.2);
    box-sizing: border-box;
    -webkit-animation: fadeInFromBelow .15s ease-out;
    animation: fadeInFromBelow .15s ease-out;
    border: 1px solid #bbc2dc;
    border-radius: 4px;
    max-height: calc(90vh - 100px);
    overflow-y: auto;
    z-index: 10;
  }
}