*, *::after, *::before {
  margin: 0;
  padding: 0;
}
h3 {
  margin: 20px auto 10px;
}

.OtherJobs__container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: auto;
  // height: 45vw;
  width: 90vw;
  
  
  .OtherJobs__title {
    position: relative;
    margin: 0 auto 30px;
    height: 50px;
    display: flex;
    flex-direction: row;
    

    p:hover::after {
      content: "";
      background-color: black;
      display: block;
      height: 2px;
      width: 2;
      margin: 5px auto 0;
      // transition: all 0.3s ease-in-out;
      // position: relative;
      // display: block;
      // top: 6px;
      // width: 100%;
      // height: 4px;
      // border-radius: 4px;
      // background: #008fb4;
      // transition: all .15s cubic-bezier(.615,.19,.305,.91);
      // transform: translateY(-4px);
      // opacity: 0;
    }
  }

  .OtherJobs__cards {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 10px auto;
  }

  .OtherJobs__description {
    h5 {
      color: rgb(84, 90, 119);
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.15px;
      margin: 10px;
      padding: 10px;
      width: 900px;
      margin: 0 auto 10px;
    }
  }

  .OtherJobs__button{
    margin: 20px auto;

    button {
      display: block;
      flex-wrap: wrap;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
      box-sizing: border-box;
      color: rgb(255, 255, 255);
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;
      letter-spacing: 0.15px;
      background-color: rgb(224, 68, 109);
      border-radius: 160px;
      margin: 0px;
      border-color: rgba(0, 0, 0, 0);
      border-width: 2px;
      border-style: solid;
      padding: 16px 24px;
      }
  }
}
