.Main {
  line-height: 1.4;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  max-width: 30em;
  min-height: 25rem;
  background-color: #f6f8fd;
}

.Bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 30em;
  min-height: 5rem;
  border-bottom-right-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
  position: relative;
}

.Img {
  width: 25em;
  height: auto;
  margin-left: 2em;
  align-items: center;
}

.IndividualHeading {
  align-self: left;
  text-align: center;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

.OtherHeading {
  @extend .IndividualHeading;
  align-self: left;
  display: inline;
  margin-left: 0.7em;
}

.InitialMsg {
  text-align: center;
  align-self: center;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  margin-left: 1em;
  margin-right: 1em;
}

.HintLabel {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 14px;
  text-align: left;
}

.ErrorHint {
  @extend .HintLabel;
  color: red;
  font-weight: bold;
}

.JobTitle {
  width: 30em;
  height: 3em;
  margin-left: 1em;
  margin-right: 1em;
  resize: none;
}

.JobDetails {
  @extend .JobTitle;
  height: 12em;
}

.TaskRadioBox {
  display: flex;
  flex-direction: row;
}

.Piece {
  display: flex;
  flex-direction: column;
  background-color: #e3e4d6;
  width: 12.5em;
  height: 6em;
  margin-left: 1em;
}

.BudgetRadio {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.TaskRadio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.DateBox {
  margin-left: 1em;
}

.TitleBox {
  display: flex;
  margin-right: 1em;
  flex-flow: row;
  justify-content: space-between;
}

.Budget {
  display: flex;
  background-color: lightblue;
  width: auto;
  height: 5em;
  justify-items: center;
  justify-content: space-around;
}

.Label {
  display: flex;
  flex-direction: column;
}

.Radio {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.Money {
  @extend .Radio;
  margin-left: 1em;
  margin-right: 1em;
}

.RadioTitle {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  flex-grow: 1;
}

.WantHelpBox {
  display: flex;
  justify-content: flex-end;
  width: 13em;
}

.WantHelp {
  width: 6em;
  text-align: center;
  position: absolute;
}

.BudgetHelp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  right: 1px;
  background-color: #555b76;
  width: 14em;
  height: 15em;
  border-radius: 0.5em;
  display: none;
}
.WantHelp:hover .BudgetHelp{
  display: flex;
}
