.task_detail{
  max-height: 100%;
  overflow-y: scroll;
}

.offer_icon{
  background-image: url('./assets/welcome.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 200px;
  margin: 20px 0;
}

.button_wrapper{
  text-align: center;
}