.categories {
    text-align: center;
    position: relative;
    display: block;
    background-color: #f6f8fd;
    padding: 32px 0px 4px;
  }

  .title {
    color: rgb(41, 43, 50);
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: -0.15px;
    text-align: center;
    vertical-align: initial;
    font-style: initial;
    white-space: initial;
    text-decoration: initial;
    margin: 0px 0px 8px;
    padding-top: 100px;
  }
