.form_wrapper{
  display: flex;
  align-items: center;

  .avatar_wrapper{
    background-color: grey;
    border-radius: 5px;
    display: inline-block;
    height: 50px;
    position: relative;
    width: 50px;
    margin-right: 20px;
  }

  .button_wrapper{
    button{
      margin: 0;
    }
  }
}