.page_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .notice{
    font-size: 23px;
    font-weight: 400;
    line-height: 26px;
    color: #606d8e;
    margin-bottom: 40px;
  }

  .background{
    width: 300px;
    height: 300px;
    background-image: url('../assets/cover.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 400px) {
  .page_wrapper{
    .background{
      width: 70%;
      height: 170px;
    }
  }
}