.modal_container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;

  .close_button{
    position: absolute;
    right: 20px;
    z-index: 1;
  }

  .modal_bottom{
    display: flex;
    width: 100%;

    .left_button{
      flex: 1 1;
      margin-right: 10px;
      button{
        background-color: rgb(246, 248, 253);
        color: rgb(0, 143, 180);
        border: solid 2px rgb(231, 235, 251);
        width: 100%;
      }
    }

    .right_button{
      flex: 1 1;
      margin-left: 10px;
      button{
        background-color: rgb(231, 82, 69);
        color: white;
        width: 100%;
      }
    }
  }
}