.navItems{
  list-style: none;

  .navItem{
    position: relative;

    .button{
      width: 100px;
      border: solid 1px black;

      &:hover .dropdown{
        display: block;
      }
    }

    .dropdown{
      position: absolute;
      display: none;
      border: solid 1px black;
      width: 400px;
      height: 600px;
      left: 0;
      bottom: -600px;
      z-index: 999;
      background-color: grey;
    }
  }
}  