.container {
  width: 330px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .name_wrapper {
    display: flex;

    .input_wrapper ~ .input_wrapper {
      margin-left: 16px;
    }
  }

  .input_wrapper{
    margin-bottom: 24px;
  }
}