.title{
  flex-grow: 1;
  color: rgb(41, 43, 50);
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0px 32px;
  overflow: hidden;
}

.content_wrapper{
  margin: 0 15px;
  width: 360px;
}

.back_button_wrapper{
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px){
  .content_wrapper{
    width: 100%;
  }
}