.box {
  display: flex;
}

.piece {
  display: flex;
  flex-direction: column;
  background-color: #e3e4d6;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  width: 12.5em;
  height: 6em;
  margin-left: 1em;
}
