.box {
  display: flex;
  margin-right: 15px;
  width: 100%;
  // justify-content: space-around;
  align-items: flex-start;
}

.piece {
  display: flex;
  flex-direction: column;
  background-color: #add8e6;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 1em;
  border-radius: 10px;
  width: 12.5em;
  height: 6em;
}
