.mobileNavBar {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  display: block;
  box-shadow: none;
  background: #fff;

  .mobileNavMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 50px;
    max-width: 768px;
    position: relative;
    margin: 0 auto;
    font-family: "Baloo Tamma 2", cursive;
    // border: 1px solid black;

    .responsiveButton {
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 40px;
      height: 40px;
      margin: 12px 25px;
      font-size: 1.7rem;
      color:#646464;
    }

    .mobileLogo {
      height: 30px;
      width: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 10px;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      color: #646464;
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      
      img {
        margin-right: 10px;
        height: 40px;
        width: 40px;
      }
    }

    .none {
      display: none;
    }

    .responsivePostTask {
      // flex: 1;
      // float: right;
      // right: 25px;
      display: flex;
      width: 30px;
      height: 30px;
      margin: 10px 10px;
      height: 40px;
      font-family: "Baloo Tamma 2", cursive;
      // border: 1px solid red;
      .post_task_icon_button_wrapper {
        margin-right:25px;
        height: 30px;
        width: 30px;
      }

      .postTaskButton {
        height: 50px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-family: "Baloo Tamma 2", cursive;
        top: 0;
        right: -120%;
        opacity: 1;
        transition: all 0.5s ease;
      }

      .postTaskButtonActive {
        height: 50px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0px;
        padding-right: 15px;
        opacity: 1;
        transition: all 0.5s ease;
        background-color: #fff;
        z-index: 10;
        // border: 1px solid red;
      }
    }
  }

  .mobileNavDropDown {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 50px;
    left: -120%;
    opacity: 1;
    transition: all 0.5s ease;
    font-family: "Baloo Tamma 2", cursive;

    .mobileNavDropDownItem {
      padding-left: 12.5%;
      // padding: 2rem;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: start;
      background-color: #EDF3FD;
      text-decoration: none;
      font-family: "Baloo Tamma 2", cursive;

      &:hover {
        background-color: #F7FCFA;
      }
    }
  }

  .mobileNavDropDownActive {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    font-family: "Baloo Tamma 2", cursive;
    background: #EDF3FD;
    z-index: 10;

    .mobileNavDropDownItem {
      padding-left: 12.5%;
      color: #313849;
      width: 100%;
      height: 60px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: start;
      background-color: #EDF3FD;
      font-family: "Baloo Tamma 2", cursive;
      font-size: 15px;
      font-weight: 500;
      line-height: 13px;
      // font-weight: 500;

      cursor: pointer;
      text-decoration: none;

      &:hover {
        color: #3ABEF9;
        background-color: #F7FCFA;
      }
    }
  }
}