.container{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: calc(100vh - 125px);
  display: flex;
  word-wrap: break-word;
}

.right{
  flex: 1 1;
}
