.header{
  display: flex;
  margin: 10px 20px;

  .detail_panel{
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 100%;

    .status_bar{
      
    }

    .title{
      height: auto;
      word-wrap: break-word;
      max-width: 100%;
      color: #292b32;
      text-align: left;
      
      h1{
        margin: 0;
        font-weight: 300;
        font-size: 30px;
      }
    } 

  }
}