.menu_mask{
  position: fixed;

  width: 100%;
  height: calc(100vh - 110px);
  z-index: 1;
  background-color: rgba(#000000, 0.5);
  top: 108px;
  left: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
}