.container{
  display: flex;
  flex-direction: column;
  width: 100%;

  .offer_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;

    .header{
      display: flex;
      align-items: center;
      margin: 15px 0;
      
      .name{
        font-size: x-large;
      }
    }
  }
  
  .content{
    position: relative;
    color: black;
    text-align: left;
    max-width: 600px;
    word-wrap: break-word;
    padding: 8px;
    background-color: rgb(234, 236, 241);
  }

  .isCollapsed{
    max-height: 20px;
    overflow-y: hidden;

    &::after{
      position: absolute;
      right: 0px;
      bottom: 0px;
      left: 0px;
      content: "";
      display: block;
      opacity: 1;
      transition: opacity 0.3s ease-out 0s;
      height: 30px;
      background: linear-gradient(rgba(255, 255, 255, 0), rgb(246, 248, 253));
    }
  }
}