.introduction{
  color: #292b32;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
}

.form_input{
  .field_input_wrapper{
    margin: 15px 0;
  }  
}

.button_wrapper{
  margin: 10px 0;
}

.information{
  font-size: 13px;
}