.navBar{
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0 2%;

  display: block;
  box-shadow: none;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0.8);
  font-family: "Baloo Tamma 2", cursive;
  font-weight: 600;

  .navWebMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    position: relative;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px){
  .navWebMenu {
    .right {
      display: flex;
      padding-right: 20px;
    }
  }
}

@media screen and (max-width: 768px){
  .navBar {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  
    display: block;
    box-shadow: none;
    background: #fff;

    .navWebMenu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      height: 50px;
      max-width: 768px;
      position: relative;
      margin: 0 auto;
      font-family: "Baloo Tamma 2", cursive;

      .left {
        width: 100%;
      }

      .right {
        display: none;
        padding-right: 20px;
      }
    }
  }
}