
.menuMobile {
  display: none;
}

.web {
  display: flex;
  // border: 1px solid black;

  .navBar{
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    display: block;
    box-shadow: none;
    border-bottom: 1px solid transparent;
    background: rgba(255, 255, 255, 0.8);
    // font-weight: 600;

    .navWebMenu {
      display: block;
      height: 72px;
      max-width: 1024px;
      position: relative;
      margin: 0 auto;
    }

    .logo {
      // border: 1px solid black;
      height: 50px;
      width: 100px;
      float: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      margin: 10px;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      color: #646464;
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      
      img {
        margin-right: 10px;
        height: 40px;
        width: 40px;
      }
    }

    .left {
      height: 100%;
      margin-left: 20px;
      // border-left: 1px solid rgba(0,0,0,.1);
      // border-left: 1px solid transparent;
      float: left;
      display: flex;
      align-items: center;
      font-weight: 600;
      // border: 1px solid black;

      .post_task_button_wrapper{
        text-shadow: 0 1px 2px rgba(0,0,0,.25);
        width: 135px;
        margin: 2px 5px 0px 15px;
      }

      .browseTasks {
        color:#426AD2;
        cursor: pointer;
        display: inline-block;
        height: 72px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: .4px;
        line-height: 72px;
        position: relative;
        text-decoration: none;
        padding: 0 10px;
        // margin: 0px 15px;
        border-top: 4px solid transparent;
        &:hover {
          color: #008fb4;
          border-top: 4px solid #008fb4;
        }
      }
    }

    .right {
      padding-top: 2px;
      height: 100%;
      float: right;
      display: flex;
      align-items: center;
      font-weight: 600;
      // border: 1px solid black;
  
      .becomeTasker{
        text-shadow: 0 1px 2px rgba(0,0,0,.25);
      }
      .login_button_wrapper, 
      .signup_button_wrapper{
        display: flex;
        align-items: center;
        margin: 0 15px;
      }
    }
  }
}


@media screen and (max-width: 768px)
{
  .web {
    display: none;
  }

  .menuMobile {
    display: flex;
  }
}