
.menuMobile {
  display: none;
  .mobileNavBar {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    display: block;
    box-shadow: none;
    background: rgba(255, 255, 255, 0.8);

    .mobileNavMenu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      height: 50px;
      max-width: 768px;
      position: relative;
      margin: 0 auto;

      .responsiveButton {
        // flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 40px;
        height: 40px;
        margin: 12px 25px;
        font-size: 1.7rem;
        color:#646464;
      }

      .mobileLogo {
        // border: 1px solid black;
        height: 30px;
        width: 50px;
        // flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // position: relative;
        // margin: 10px 85px 10px 65px;
        margin: 10px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        color: #646464;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        // border: 1px solid black;
        
        img {
          margin-right: 10px;
          height: 40px;
          width: 40px;
        }
      }

      .responsivePostTask {
        // flex: 1;
        // float: right;
        // right: 25px;
        display: flex;
        width: 30px;
        height: 30px;
        margin: 10px 10px;
        // border: 1px solid red;
        img {
          margin:0px 25px;
          height: 30px;
          width: 30px;
        }
      }
    }

    .mobileNavDropDown {
      display:none;
      flex-direction: column;
      width: 100%;
      height: 300px;
      position: absolute;
      top: 50px;
      left: -120%;
      opacity: 1;
      transition: all 0.5s ease;

      .mobileNavDropDownItem {
        padding-left: 12.5%;
        padding: 2rem;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: start;
        background-color: #EDF3FD;
        text-decoration: none;

        &:hover {
          background-color: #F7FCFA;
        }
      }
    }

    .mobileNavDropDownActive {
      display:none;
      flex-direction: column;
      width: 100%;
      height: 300px;
      position: absolute;
      top: 50px;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      background: #EDF3FD;
      z-index: 10;

      .mobileNavDropDownItem {
        padding-left: 12.5%;
        padding: 2rem;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: start;
        background-color: #EDF3FD;
        text-decoration: none;

        &:hover {
          background-color: #F7FCFA;
        }
      }
    }
  }
}

.web {
  display: flex;
  // border: 1px solid black;

  .navBar{
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    display: block;
    box-shadow: none;
    border-bottom: 1px solid transparent;
    background: rgba(255, 255, 255, 0.8);
    // font-weight: 600;

    .navWebMenu {
      display: block;
      height: 72px;
      max-width: 1024px;
      position: relative;
      margin: 0 auto;
    }

    .logo {
      // border: 1px solid black;
      height: 50px;
      width: 100px;
      float: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      margin: 10px;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      color: #646464;
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      
      img {
        margin-right: 10px;
        height: 40px;
        width: 40px;
      }
    }

    .left {
      height: 100%;
      margin-left: 20px;
      // border-left: 1px solid rgba(0,0,0,.1);
      // border-left: 1px solid transparent;
      float: left;
      display: flex;
      align-items: center;
      font-weight: 600;
      // border: 1px solid black;

      .post_task_button_wrapper{
        text-shadow: 0 1px 2px rgba(0,0,0,.25);
        width: 135px;
        margin: 2px 5px 0px 15px;
      }

      .browseTasks {
        color:#426AD2;
        cursor: pointer;
        display: inline-block;
        height: 72px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: .4px;
        line-height: 72px;
        position: relative;
        text-decoration: none;
        padding: 0 10px;
        // margin: 0px 15px;
        border-top: 4px solid transparent;
        &:hover {
          color: #008fb4;
          border-top: 4px solid #008fb4;
        }
      }
    }

    .right {
      padding-top: 2px;
      height: 100%;
      float: right;
      display: flex;
      align-items: center;
      font-weight: 600;
      // border: 1px solid black;
  
      .becomeTasker{
        text-shadow: 0 1px 2px rgba(0,0,0,.25);
      }
      .login_button_wrapper, 
      .signup_button_wrapper{
        display: flex;
        align-items: center;
        margin: 0 15px;
      }
    }
  }
}


@media screen and (max-width: 768px)
{
  .web {
    display: none;
  }

  .menuMobile {
    display: flex;
    .mobileNavBar {
      .mobileNavDropDown {
        display: flex;
      }

      .mobileNavDropDownActive {
        display: flex;
      }
    }
  }
}