.main {
  line-height: 1.4;
  width: 100%;
  height: 100%;
  // @media screen and (min-width: 400px) {
  // max-height: 450px;
  min-height: 384px; 
  // }
}
.kongbai {
  margin: 5px 0;
  padding: 10px 0;
}
.bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom-right-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
  position: relative;
}
%margin_block {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

%margin_left_right {
  margin-left: 1em;
  margin-right: 1em;
}

.text_area {
  @extend %margin_left_right;
}

.individual_heading {
  align-self: center;
  text-align: center;
  @extend %margin_block;
}

.other_heading {
  @extend .individual_heading;
  align-self: left;
  display: inline;
  margin-left: 0.7em;
}

.initial_msg {
  text-align: center;
  align-self: center;
  @extend %margin_left_right;
  @extend %margin_block;
}

.hint_label {
  display: inline-block;
  @extend %margin_left_right;
  font-size: 14px;
  text-align: left;
}

.budget_radio {
  margin: 1em;
}

.task_radio_box {
  display: flex;
  flex-direction: row;
}

.date_box {
  margin-left: 1em;
}

.title_box {
  display: flex;
  margin-right: 1em;
  padding-bottom: 5px;
  flex-flow: row;
  justify-content: space-between;
}

.budget {
  display: flex;
  background-color: lightblue;
  width: 100%;
  height: 5em;
  justify-content: space-around;
}
.budget_box {
  padding: 30px 0;
}

.label {
  display: flex;
  flex-direction: column;
}

.want_help_box {
  display: flex;
  justify-content: flex-end;
  width: 3em;
}

.want_help {
  width: 6em;
  text-align: center;
  //position: absolute;
}

.budget_help {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  right: 1px;
  background-color: #555b76;
  width: 14em;
  height: 15em;
  border-radius: 0.5em;
  display: none;
}
.want_help:hover .budget_help {
  display: flex;
}

.budget_input_box {
  display: flex;
  flex-direction: column;
}

.units {
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

.button {
  width: 100%;
  max-width: 50%; 
  padding: 0 8px;
}

@media screen and (max-width: 375px)
{
  .main {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}