.account_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  div:nth-child(n+1) {
    margin-top: 20px;
  }
}

.input_wrapper {
  width: 100%;

  & ~ & {
    margin-top: 20px;
  }

  &:last-child {
    margin-bottom: 50px;
  }
}

.update_btn {
  margin-top: 30px;
  display: flex;
  
  button ~ button {
    margin-left: 25px;
  }
}

.birthday_wrapper {
  // border: 1px solid red;
  width: 100%;
}

.label_wrapper {
  display: block;
  margin-bottom: -30px;
}

.birthday_input_wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  // border: 1px solid yellow;
  justify-content: space-between;
}
