.profile_content {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 500px;
  max-width: 800px;
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  overflow: auto;
  padding: 20px;
}

@media screen and (max-width: 375px)
{
  .profile_content {
    flex-grow: 1;
    flex-shrink: 1;
    width: 300px;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    overflow: auto;
    padding: 20px;
  }
  
}