.footerBlock {
    display: inline-block;
    font-size: 15px;
    line-height: 26px;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0px 16px;
    margin: 0px;
    overflow: hidden;
    list-style-type: none;
}


.footerList {
    display: inline-block;
    font-size: 15px;
    line-height: 26px;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0px 16px;
    margin: 50px 20px;
    overflow: hidden;
    list-style: none;
}

.footerTitle {
    color: #b0bfc3;
    font-weight: 500;
    font-family: museo-black, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: initial;
    vertical-align: initial;
    text-transform: uppercase;
    font-style: initial;
    white-space: initial;
    text-decoration: initial;
    margin: 0px;
    padding: 0px;
}

.footerContent{
    color: rgb(84, 90, 119);
    font-family: museo-regular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: initial;
    vertical-align: initial;
    font-style: initial;
    white-space: initial;
    text-decoration: initial;
    margin: 4px 0px;
    padding: 0px;
}