.Public {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  
  .responsiveButton {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    // margin: 8px 25px;
    font-size: 1.7rem;
    color:#646464;
  }

  .logo {
    // border: 1px solid black;
    height: 50px;
    width: 100px;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    color: #646464;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    
    img {
      margin-right: 10px;
      height: 40px;
      width: 40px;
    }

    
  }

  .left {
    height: 100%;
    margin-left: 20px;
    // border-left: 1px solid rgba(0,0,0,.1);
    // border-left: 1px solid transparent;
    float: left;
    display: flex;
    align-items: center;
    font-weight: 600;
    // border: 1px solid black;

    .post_task_button_wrapper{
      text-shadow: 0 1px 2px rgba(0,0,0,.25);
      width: 135px;
      margin: 2px 5px 0px 15px;
      // font-family: "Baloo Tamma 2", cursive;
    }

    .browseTasks {
      color:#426AD2;
      cursor: pointer;
      display: inline-block;
      height: 72px;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: .4px;
      line-height: 72px;
      position: relative;
      text-decoration: none;
      padding: 0 10px;
      margin-left: 10px;
      // margin: 0px 15px;
      border-top: 4px solid transparent;
      &:hover {
        color: #008fb4;
        border-top: 4px solid #008fb4;
      }
    }
  }

  .responsivePostTask {
    display: none;
    width: 30px;
    height: 30px;
    // margin: 10px 10px;
    // height: 40px;
    font-family: "Baloo Tamma 2", cursive;
    // border: 1px solid black;

    .post_task_icon_button_wrapper {
      margin-right:25px;
      height: 30px;
      width: 30px;
    }

    .postTaskButton {
      height: 50px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      font-family: "Baloo Tamma 2", cursive;
      top: 0;
      right: -120%;
      opacity: 1;
      transition: all 0.5s ease;
    }

    .postTaskButtonActive {
      height: 50px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0px;
      padding-right: 15px;
      opacity: 1;
      transition: all 0.5s ease;
      background-color: #fff;
      z-index: 10;
      // border: 1px solid red;
    }
  }

  .mobileNavDropDown {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 50px;
    left: -120%;
    opacity: 1;
    transition: all 0.5s ease;
    font-family: "Baloo Tamma 2", cursive;
  }

  .mobileNavDropDownActive {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    font-family: "Baloo Tamma 2", cursive;
    background: #EDF3FD;
    z-index: 10;
  }
}


@media screen and (max-width: 768px)
{
  .Public {
    justify-content: space-between;
    height: 100%;
    margin-right: 20px;

    .responsiveButton {
      display: flex;
    }
    .logo {  
    }

    .left {
      display: none;
    }

    .responsivePostTask {
      display: flex;
    }

    .mobileNavDropDown{
    }

    .mobileNavDropDownActive {
      
    }
  }
}