.container{
  width: 100%;

  .list_wrapper{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;

    .card_wrapper{
      max-width: 50%;
      flex: 1 1;
      display: flex;
      justify-content: center;
      margin: 10px 0;
    }
  }
}

.task_detail{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 300px;

  .side_bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 20px;
    padding: 5px 15px;
    border: solid 1px #adb2ce;
    border-radius: 4px;

    .budget{
      width: 100%;
    }
    
    .category{
      width: 100%;
    }
  }
}

