.message_box{
  background-color: rgb(251, 237, 213);
  padding: 20px 15px;
  margin-bottom: 24px;
}

.introduction{
  color: #292b32;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
}

.input_wrapper{
  margin: 15px 0;
}

.button_wrapper{
  margin-top: 25px;
}