.footer{
  background: url("../../../assets/footer-bg.svg") no-repeat;
  height:300px;
  background-position: center bottom;
  background-size:100%;
  }

  .wrapper{
    width: 50%;
    margin: 0 auto;
  
  }
.logo {
  justify-content: center;
    color: #545a77;

}