.footer{
  background: url("../../../assets/footer-bg.svg") no-repeat;
  height:300px;
  background-position: center bottom;
  background-size:100%;

  }


  .footer__content{
    display:flex;
    flex-direction: column;
    display: -webkit-flex; 
    align-items:center;
    justify-content: center;
      transform: translateY(200%);
  }
.logo {
  text-align: center;

    color: #545a77;
    padding: 15px 50px;
}

@media screen and (max-width: 767px)
{
  .footer{
    background: url("../../../assets/responsive/footer-mobile-bg.svg") no-repeat;
    height:400px;
    background-position: center bottom;
    background-size:140%;
  
    }
    .footer__content{
        transform: translateY(500%);
        p{
          margin-top: -20px;
        }
    }
    .logo {
      padding: 15px 30px;
    }
}
