
.OtherJobs__cards {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  // align-content: center;
  padding: 0 auto;
  margin: 0px auto;
  // border: 1px solid red;

  .OtherJobs__description {
    width: 740px;
    display: flex;
    justify-content: center;
    h4 {
      color: #4E4673;
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      letter-spacing: 0.15px;
      margin: 10px;
      padding: 10px;
      // width: 900px;
      // height: auto;
      margin: 0 auto 20px;
    }
  }
  
  .OtherJobs__cardGrid {
    // display: grid;
    // grid-template-columns: repeat(4, 320px);
    // grid-template-rows: repeat(2, 170px);
    // margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 376px) and (max-width: 768px)
{
  .OtherJobs__cards {
    width: 100%;
    
    .OtherJobs__description {
      width: 100%;
    }
  }
}

@media screen and (max-width: 375px)
{
  .OtherJobs__cards {
    width: 100%;

    .OtherJobs__description {
      width: 100%;
    }
  }
}