.pac-container {
  border-radius: 5px;
  .pac-icon {
    display: none;
  }
  .pac-item { 
    line-height: 30px;
    border-bottom: 1px solid transparent;
    font-size: 13px;
    font-weight: bold;
    .pac-item-query {
      font-size: 12px;
    }
   
    &:hover {
      background-color: #1590b2;
      color: white;
      cursor: pointer;
    }
  }
}



