$border-color: rgb(149, 178, 204);
$border-radius: 5px;

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 30px;
  font-size: large;

  .title{
    padding: 0 15px;
    font-weight: 500;
  }

  .budget{
    display: flex;
    height: 70px;
    width: 200px;
    font-weight: 400;

    .unit{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      flex: 1 1;
      border: solid 1px $border-color;
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }

    .value{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      flex: 2 2;
      border: solid 1px $border-color;
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;

      input{
        font-size: large;
        text-align: center;
      }
    }
  }
}