.forgot_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 10px 20px;
  box-sizing: border-box;

  & > *{
    margin-bottom: 30px;
  }
}

.label{
  font-size: 18px;
}

.input_wrapper {
  width: 100%;
}

.btn_wrapper {
  width: 30%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}