.modal_container{
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: auto;
  min-width: 400px;
  max-width: 500px;
  max-height: 90%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  
  .close_button_wrapper{
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    padding-right: 20px;
    z-index: 1;
  }

  %center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header{
    @extend %center;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
  }

  .content{
    width: 100%;
    max-height: 400px;
    overflow: auto;
    overflow-x: hidden;
    padding: 10px 30px;
    box-sizing: border-box;
  }

  .footer{
    @extend %center;
    min-height: 60px;
    padding: 10px 30px 20px;
    box-sizing: border-box;
    width: 100%
  }
}

