.modal_container{
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: auto;
  min-width: 400px;
  max-width: 500px;
  max-height: 90%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  
  .close_button{
    position: absolute;
    background-color: transparent;
    top: 10px;
    right: 5px;
    z-index: 1;
  }

  .header{
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 30px 10px;
  }

  .content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    max-height: 400px;
    overflow-x: hidden;
    padding: 10px 30px;
    width: 100%;
    box-sizing: border-box;
  }

  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    padding: 10px 30px 20px;
    box-sizing: border-box;
    width: 100%
  }
}

