.modal_container{
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: auto;
  max-width: 500px;
  height: auto;  
  max-height: 90%;
  border-radius: 15px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;

  .close_button{
    position: absolute;
    font-size: 20px;
    color: rgb(187, 194, 220);
    right: 20px;
    font-weight: 600;
    z-index: 999;
    outline: none;
    border: none;
    background-color: transparent;
  
    &:hover {
      cursor: pointer;
      color: rgb(129, 139, 175);
    }
  }
}

