.comment_wrapper{
  display: flex;
  margin: 15px 0;
  align-items: flex-start;

  .details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .header{
      font-weight: 300;
      font-size: 14px;
    }

    .content{
      color: black;
    }
  }
}