.article {
  text-align: center;
  position: relative;
  display: block; 
  padding: 32px 0px 4px;
  background: url("../../../assets/article-bg.svg") no-repeat;
  background-position: left center;
  background-size: 1440px 754px;
  height: 700px;
.wrapper{
  width:900px;
      float: right;
        margin:50px;

}
  .title {
    color: rgb(41, 43, 50);
    font-family: "Baloo Tamma 2", cursive;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: -0.15px;
    text-align: center;
    vertical-align: initial;
    font-style: initial;
    white-space: initial;
    text-decoration: initial;
    margin: 0px 0px 8px;
    padding-top: 100px;
  }

  .article_container{
    display: flex;
    justify-content: center;
  }
  
  .articleButton {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    font-family: "Baloo Tamma 2", cursive;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.15px;
    background-color: rgb(246, 248, 253);
    color: rgb(0, 143, 180);
    border-radius: 160px;
    margin: 20px 0;
    border-width: 2px;
    border-style: solid;
    padding: 16px 24px;
    border-color: rgb(231, 235, 251);
  }
}


@media screen and (max-width: 767px)
{
  .article_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

