.FeatureImg {
    width: 50%;
    transition: transform 0.5s ease 0s;
}
.FeatureImg:hover {
    transform: scale(1.1);
  }

@media screen and (max-width: 767px)
  {
    .FeatureImg {
        order:2;
        display: flex;
        justify-content: center;
        transition: transform 0.5s ease 0s;
    }
    .FeatureImg:hover {
        transform: scale(1.1);
      }
  }
  
  