.container{
  width: 100%;

  .list_wrapper{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;

    .card_wrapper{
      max-width: 50%;
      flex: 1 1;
      display: flex;
      justify-content: center;
      margin: 10px 0;
    }
  }
}

@media screen and (max-width: 950px) {
  .container{
    .list_wrapper{
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;

      .card_wrapper{
        max-width: 100%;
      }
    }
  }
}

