.slider{
  height: 25px;
  outline: none;
  width: 100%;

  &::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px;
    height: 25px; 
    background: #4CAF50; 
    cursor: pointer; 
  }
}


